/*成就页面样式*/
@import url(fonts.css);
/*背景*/
body{
    background-image: url(../image/achievements.jpg);
    background-position:-200px -160px;
}
/*菜单*/
.menu{ 
    margin-top: 0px;
    float: right;
    padding: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6);
}
.menu:hover{ 
    background-color: rgba(231, 157, 18, 0.459);
    transition-duration: 0.4s;
    cursor: url(../image/pointer.ico),auto;
}
/*主结构块*/
#box{
    margin: auto;
    margin-top: 1%;
    width: 80%;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(241, 220, 191, 0.5);
    text-align: center;
}
/*标题*/
#title{
    font:45px HYShangWeiShouShuW-Regular;
}
/*成就项目样式*/
.achivement-box{
    display: inline-block;
    height: 170px;
    width: 330px;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(73, 73, 73, 0.719);
    color:#3b3b3b;
    font:30px HYShangWeiShouShuW-Regular;
}